# Desenvolvimento
DATABASE_URL=postgresql://admin:1i4x%40Liax@host.docker.internal:5432/dashboard
CLICKUP_TOKEN=pk_78841674_UDO4MG6XRKSWRWLKJW0TMTHOO4B0A4K7
SECRET_KEY=liax-dashboard-secret-key-change-in-production

# Homologação
# DATABASE_URL=postgresql://admin:1i4x%40Liax@56.124.92.68:5432/meu-database
